<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.fibelatti.raffler">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name=".RafflerApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="${fabricApiKey}"/>

        <activity
            android:name=".presentation.ui.activities.MainActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".presentation.ui.activities.QuickDecisionResultActivity"
            android:configChanges="orientation"
            android:parentActivityName=".presentation.ui.activities.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".presentation.ui.activities.MainActivity"/>
        </activity>

        <activity
            android:name=".presentation.ui.activities.GroupActivity"
            android:configChanges="orientation"
            android:parentActivityName=".presentation.ui.activities.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".presentation.ui.activities.MainActivity"/>
        </activity>

        <activity
            android:name=".presentation.ui.activities.GroupFormActivity"
            android:configChanges="orientation"
            android:parentActivityName=".presentation.ui.activities.GroupActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".presentation.ui.activities.GroupActivity"/>

            <!-- Intent filter for opening files from system -->
            <intent-filter android:label="@string/app_name">
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data android:scheme="file"/>
                <data android:host="*"/>
                <data android:mimeType="application/json"/>
                <data android:pathPattern=".*\\.rflr"/>
            </intent-filter>
            <!-- Intent filter for open files from email -->
            <intent-filter android:label="@string/app_name">
                <data android:scheme="content"/>

                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data android:mimeType="application/octet-stream"/>
                <data android:pathPattern=".*\\.rflr"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".presentation.ui.activities.RouletteActivity"
            android:configChanges="orientation"
            android:parentActivityName=".presentation.ui.activities.GroupActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".presentation.ui.activities.GroupActivity"/>
        </activity>

        <activity
            android:name=".presentation.ui.activities.RandomWinnersActivity"
            android:configChanges="orientation"
            android:parentActivityName=".presentation.ui.activities.GroupActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".presentation.ui.activities.GroupActivity"/>
        </activity>

        <activity
            android:name=".presentation.ui.activities.SubGroupsActivity"
            android:configChanges="orientation"
            android:parentActivityName=".presentation.ui.activities.GroupActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".presentation.ui.activities.GroupActivity"/>
        </activity>

        <activity
            android:name=".presentation.ui.activities.SecretVotingActivity"
            android:configChanges="orientation"
            android:launchMode="singleInstance"
            android:parentActivityName=".presentation.ui.activities.GroupActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".presentation.ui.activities.GroupActivity"/>
        </activity>

        <activity
            android:name=".presentation.ui.activities.CombinationActivity"
            android:configChanges="orientation"
            android:parentActivityName=".presentation.ui.activities.GroupActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateHidden">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".presentation.ui.activities.GroupActivity"/>
        </activity>

        <activity
            android:name=".presentation.ui.activities.SettingsActivity"
            android:configChanges="orientation"
            android:parentActivityName=".presentation.ui.activities.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".presentation.ui.activities.MainActivity"/>
        </activity>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="@string/file_provider_authority"
            android:exported="false"
            android:grantUriPermissions="true">

            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/fileprovider"/>
        </provider>
    </application>

</manifest>
