<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fibelatti.raffler">

    <!-- Declaring uses-permission -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- Declaring uses-feature -->
    <application
        android:name=".RafflerApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.fibelatti.raffler.views.activities.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".views.activities.GroupActivity"
            android:label="@string/label_group_activity"
            android:parentActivityName="com.fibelatti.raffler.views.activities.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.fibelatti.raffler.views.activities.MainActivity" />
        </activity>

        <activity
            android:name=".views.activities.GroupFormActivity"
            android:label="@string/label_group_form_activity"
            android:parentActivityName=".views.activities.GroupActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".views.activities.GroupActivity" />
        </activity>

        <activity
            android:name=".views.activities.RouletteActivity"
            android:label="@string/label_roulette_activity"
            android:parentActivityName=".views.activities.GroupActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".views.activities.GroupActivity" />
        </activity>

        <activity
            android:name=".views.activities.NWinnersActivity"
            android:label="@string/label_nwinners_activity"
            android:parentActivityName=".views.activities.GroupActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".views.activities.GroupActivity" />
        </activity>

        <activity
            android:name=".views.activities.SubGroupsActivity"
            android:label="@string/label_subgroups_activity"
            android:parentActivityName=".views.activities.GroupActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".views.activities.GroupActivity" />
        </activity>

        <activity
            android:name=".views.activities.SettingsActivity"
            android:label="@string/label_settings_activity"
            android:parentActivityName=".views.activities.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".views.activities.MainActivity" />
        </activity>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="21ac174587c02c5e779604c9644c6aca94dd72eb" />
    </application>

</manifest>
